@import "tailwindcss";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@variant dark (&:where(.light,.light *));

@theme {
    /* colors */
    --color-primary: #3f1562;
    --color-secondary: #fc5f5f;
    --color-field: #f7eeff;

    /* fonts */
    --font-manrope: "Manrope", sans-serif;
    --font-inter: "Inter", sans-serif;
}

@font-face {
    font-family: "Manrope";
    src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
}

@font-face {
    font-family: "Inter";
    src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
}

button {
    @apply cursor-pointer;
}

[data-pc-section="root"] {
    font-family: var(--font-manrope);
}