@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@import "swiper/css";
@import "swiper/css/effect-coverflow";

/* dark mode */
@variant dark (&:where(.light,.light *));

/* tailwind configs */
@theme {
    /* colors */
    --color-primary: #df6789;
    --color-field: rgba(223, 103, 137, 0.08);

    --color-purple: #3F1562;
    --color-pink: #DF6789;

    /* fonts */
    --font-manrope: "Manrope", sans-serif;
}

@font-face {
    font-family: "Manrope";
    src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
}

button {
    @apply cursor-pointer;
}

[data-pc-section="root"] {
    font-family: var(--font-manrope);
}

@layer utilities {
  .gradient-purple-pink {
    background-image: linear-gradient(135deg, #3F1562, #DF6789);
  }
}

