@import "../../../styles/variables.css";
@import "quill/dist/quill.snow.css";

.custom-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;

    position: relative;

    .custom-label {
        font-weight: 700;
        margin-bottom: 0.5rem;
        color: var(--text-color, #222);
        font-size: 0.8rem;
    }


    .custom-input {
        padding: 0.5rem 0.75rem;
        border: 1px solid var(--border-color-dark, #ccc);
        border-radius: 0.375rem;
        font-size: 0.8rem;
        transition: border-color 0.2s;
        outline: none;

        --outline-color: rgba(144, 68, 212, 0.1);

        &.error {
            --outline-color: rgba(223, 70, 57, 0.1);
            border-color: var(--color-danger);
        }

        &:focus {
            border-color: var(--color-primary);
            outline: 4px solid var(--outline-color);
        }

        &.error:focus {
            border-color: var(--color-danger);
        }
    }

    .custom-error {
        color: var(--color-danger, #e53e3e);
        font-size: 0.875rem;
        margin-top: 0.25rem;
    }
}

.custom-form-group.password-input {
    .eye-icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        cursor: pointer;
        color: var(--text-secondary-color);
        transition: color 0.2s;

        &:hover {
            color: var(--text-color);
        }

        svg {
            width: 1rem;
            height: 1rem;
            vertical-align: middle;
        }
    }

}

.custom-checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .custom-checkbox {
        width: 1.1rem;
        height: 1.1rem;
        margin-right: 0.5rem;
        accent-color: var(--color-info);
        cursor: pointer;
    }

    .custom-label {
        font-weight: 700;

        font-size: 0.8rem;
        color: var(--text-color);
        margin-right: 0.5rem;
        cursor: pointer;
    }

    .custom-error {
        color: var(--color-danger, #e53e3e);
        font-size: 0.875rem;
        margin-left: 0.75rem;
    }
}

.custom-radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .custom-label {
        font-weight: 700;
        margin-bottom: 0.5rem;
        color: var(--text-color);
        font-size: 0.8rem;
    }

    .custom-radio-item {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;

        .custom-radio {
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.5rem;
            accent-color: var(--color-primary);
            cursor: pointer;
        }

        span {
            font-size: 0.9rem;
            color: var(--text-color);
            cursor: pointer;
        }
    }
}

.custom-button {
    &.primary {
        --bg-color: var(--color-primary);
        --t-color: var(--white);
    }

    &.secondary {
        --bg-color: transparent;
        --t-color: var(--black);
        --border: 1px solid rgba(0, 0, 0, 0.5);
    }

    &.warning {
        --bg-color: var(--color-warning);
        --t-color: var(--white);
    }

    &.danger {
        --bg-color: var(--color-danger);
        --t-color: var(--white);
    }

    &.success {
        --bg-color: var(--color-success);
        --t-color: var(--white);
    }

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.25rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: var(--border, none);
    border-radius: 0.375rem;
    background-color: var(--bg-color);
    color: var(--t-color);
    cursor: pointer;
    transition: background 0.2s,
    box-shadow 0.2s,
    color 0.2s;

    &:hover,
    &:focus {
        box-shadow: 0px 0px 8px 0px var(--bg-color, rgba(0, 119, 255, 0.08));
        opacity: 0.9;
    }

    &:disabled {
        background-color: var(--color-disabled-bg, #c2a3d6);
        color: var(--color-disabled-text, #7a7a7a);
        cursor: not-allowed;
        box-shadow: none;
    }
}

.custom-circle-button {
    display: flex;
    align-items: center;

    font-size: 0.8rem;
    text-decoration: none;

    text-wrap: nowrap;

    .icon {
        height: 1.5rem;
        width: 1.5rem;
        margin-top: 0.2rem;

        svg {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

/* Back Button */
.back-button {
    background: transparent;
    border: none;
    outline: none;

    .icon-text {
        display: flex;
        align-items: center;
        /* vertical centering */
        justify-content: center;
        /* horizontal centering */

        cursor: pointer;
        font-size: 0.9rem;

        width: 20px;
        height: 20px;

        :hover {
            color: var(--color-info);
        }

        /* Make sure the svg doesn't have unexpected vertical alignment */
        svg {
            display: block;
            width: 100%;
            height: 100%;
            margin-top: 0.25rem;
        }
    }
}

.custom-switch-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .custom-label {
        font-size: 0.8rem;
    }

    .switch-label {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .switch-slider {
            position: absolute;
            cursor: pointer;
            background-color: #ccc;
            border-radius: 34px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: background 0.3s;
        }

        .switch-slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            border-radius: 50%;
            transition: transform 0.3s;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        input:checked+.switch-slider {
            background-color: var(--color-primary);
        }

        input:checked+.switch-slider:before {
            transform: translateX(19px);
        }
    }
}

/* quill-editor */
.quill-editor {
    margin-bottom: 0.5rem;

    .quill-label-text {
        display: block;
        font-weight: 700;
        font-size: 0.8rem;
        color: var(--text-color);
        margin-bottom: 0.5rem;
    }

    .ql-toolbar.ql-snow {
        border: none;
        border-bottom: 1px solid var(--border-color-dark);
    }

    .ql-container {
        border: none;
    }

    .ql-editor-container {
        border: 1px solid var(--border-color-dark);
        border-radius: 0.375rem;

        &.error {
            border-color: var(--color-danger);
        }

        --outline-color: rgba(144, 68, 212, 0.1);
    }

    .ql-editor-container:focus-within {
        border-color: var(--color-primary);
        border-color: var(--color-primary);
        outline: 4px solid var(--outline-color);

        &.error {
            --outline-color: rgba(223, 70, 57, 0.1);
            border-color: var(--color-danger);
        }
    }
}

.select-input-combo {
    display: flex;
    align-items: center;
    flex: 1;

    border: 1px solid var(--border-color-dark);
    border-radius: 0.375rem;

    --outline-color: rgba(144, 68, 212, 0.1);

    input {
        flex: 1;
        margin-bottom: 0;
        border: none;
        outline: none;
        border-radius: inherit;
        padding: 0.5rem 0.75rem;
        font-size: 0.9rem;
    }

    select {
        border: none;
        outline: none;
        border-radius: inherit;
        padding: 0.5rem 0.75rem;
        font-size: 0.9rem;
    }

    &:focus-within {
        border-color: var(--color-primary);
        outline: 4px solid var(--outline-color);
    }

    &.error {
        border-color: var(--color-danger);
        --outline-color: rgba(223, 70, 57, 0.1);
    }
}