@import "../../../../styles/variables.css";

.add-manual-recruiter-page {
    .remove-btn {
        color: var(--color-danger);
        font-size: var(--size-12);
        cursor: pointer;
    }
}

.resume-list-page {
    .resume-card-page {
        margin-bottom: 1rem;
        box-shadow: 1px 2px 8px rgba(211, 211, 211, 0.407);

        .view-full-resume {
            box-sizing: border-box;
            display: inline-block;
            font-size: 1.2rem;
            border-radius: 0.375rem;
            text-decoration: none;
            padding: 0.5rem 1rem;
            color: var(--text-color);
        }



        .comments-section {
            height: 300px;
            display: flex;
            gap: 1rem;
            position: relative;

            .comment-form {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                flex: 1;


                .date-container .custom-form-group {
                    margin-bottom: 0;
                    width: 100%;
                }
            }

            .comments {
                height: 70%;
                flex: 1;
            }
        }

    }

}

.comment-one-page {
    height: 90%;
    overflow-y: auto;

    .comment-container {
        border: 1px solid var(--border-color);
        border-radius: 1rem;
        padding: 0.2rem 1rem;
        margin-bottom: 0.5rem;

        .comment {
            font-weight: 700;
        }

        .comment-date {
            color: var(--text-secondary-color);
        }
    }
}

.requirements-view-page {
    display: flex;
    gap: 1rem;

    .resume-list-page {
        flex: 1;
    }
}